.subtitle-redes {
  font-family: "Liu Jian Mao Cao", "Urbanist";
  font-size: 7em;
  text-align: center;
  margin: 0 0 50px 0;
  color: #73a62a;
}

.container-instagram {
  padding: 100px;
}

@media screen and (max-width: 700px) {
  .subtitle-redes {
    font-size: 3em;
    margin: 100px 0 20px 0;
  }
  .container-instagram {
    padding: 40px;
  }
  .container-instagram_embed {
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  .container-instagram_embed {
    height: auto;
    iframe {
      height: 400px;
    }
  }
}
