.navbarMobile-container {
  display: grid;
  width: 100%;
  background-image: url("../../../assets/img/background.jpeg");
  filter: contrast(105%);
  background-position: center;
  background-size: cover;
  height: 550px;
  grid-template-columns: 15vw 70vw 10vw;
  grid-template-rows: 120px;
  position: absolute;
  img {
    margin: 20px;
    padding: 5px;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
  }
}

.btn-menu {
  width: 50px;
  background: none;
  border: none;
  font-size: 3.5em;
  grid-column: 3/4;
  color: #fff;
  cursor: pointer;
}

.navbar-container_separador {
  grid-column: 2/4;
  margin: 0 15px 0 60px;
  height: 1px;
}

.menu-items {
  display: none;
  position: absolute;
  z-index: 500;
  right: 0;
  background-color: #a8ce7f;
  height: 100%;
  width: 50vw;
  border-radius: 0 0 0 50px;
  button {
    margin: 20px 0;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
  }
}

.container-items {
  display: flex;
  flex-direction: column;
  gap: 2;
  padding: 30px;
  a {
    text-decoration: none;
    color: #000;
  }
}

.menu-li {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0 0 0 5px;
  border-bottom: 1px solid #000;
}

.submenu-li {
  display: none;
  list-style: none;
  margin: 15px;
}

.show {
  display: block;
}
