.container-talleres {
  margin: 200px 0 0 0;
  overflow: hidden;
}

.container-talleres_box {
  display: grid;
  margin: 70px;
  justify-content: center;
  padding: 100px;
  border-radius: 100px;
  background: #ffdf0180;
  grid-template-columns: 65% 35%;
  grid-template-rows: 150px 300px 100px;
}

.subtitle-talleres {
  justify-self: center;
  align-self: flex-end;
  width: 400px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.margarita {
  width: 1000px;
  margin: -150px -140px;
  grid-row: 1/4;
  grid-column: 2/3;
}

.text-talleres {
  padding: 40px;
  align-self: center;
  font-size: 2em;
  text-align: center;
}

.btn-talleres {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  color: #73a62a;
  text-align: center;
  width: 300px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #73a62a;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.btn-talleres:hover {
  color: #a8ce7f;
  background: #fff;
  border: 2px solid #a8ce7f;
}

.container-talleres_alojamiento {
  display: grid;
  margin: 70px;
  justify-content: center;
  padding: 100px;
  border-radius: 100px;
  background: #73a62a4d;

  grid-template-columns: 40% 60%;
  grid-template-rows: 150px 300px 100px;
}

.subtitle-alojamiento {
  align-items: flex-end;
  justify-self: center;
  width: 950px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.casa {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/4;
}

.text-alojamiento {
  padding: 40px;
  align-self: center;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .container-talleres_box {
    padding: 60px;
    grid-template-rows: 150px 200px 100px;
  }
  .text-talleres {
    padding: 30px 70px;
    font-size: 1.4em;
  }
  .margarita {
    margin: -50px -100px;
    width: 700px;
  }
  .container-talleres_alojamiento {
    padding: 40px;
    grid-template-columns: 40% 60%;
  }
  .subtitle-alojamiento {
    align-self: center;
    width: 650px;
  }
  .casa {
    justify-self: center;
    align-self: center;
  }
  .text-alojamiento {
    padding: 20px;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1100px) {
  .text-talleres {
    padding: 30px 50px;
  }
  .margarita {
    width: 550px;
  }

  .subtitle-alojamiento {
    width: 520px;
  }
  .casa {
  }
}

@media screen and (max-width: 700px) {
  .container-talleres {
    margin: 50px 0;
  }

  .container-talleres_box {
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 150px 120px;
    padding: 10px;
    margin: 30px;
  }

  .subtitle-talleres {
    width: 200px;
    margin: -30px 10px;
    align-self: self-start;
  }
  .text-talleres {
    padding: 5px;
    font-size: 15px;
  }

  .margarita {
    margin: -15px -30px;
    width: 350px;
  }
  .btn-talleres {
    width: 150px;
    padding: 5px;
  }

  .container-talleres_alojamiento {
    padding: 10px;
    margin: 30px;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: repeat(2, 50%);
  }
  .text-alojamiento {
    font-size: 15px;
    padding: 0px;
  }

  .subtitle-alojamiento {
    max-width: 350px;
    width: 100%;
    align-self: center;
    grid-column: 1/3;
  }
  .casa {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .container-talleres_box {
    grid-template-rows: 50px 100px 70px;
    border-radius: 50px;
    margin: 30px 10px;
  }
  .margarita {
    width: 250px;
  }
  .text-talleres {
    font-size: 11px;
  }

  .btn-talleres {
    width: 120px;
    padding: 2px 5px;
    font-size: 11px;
  }

  .container-talleres_alojamiento {
    border-radius: 50px;
    padding: 10px;
    margin: 30px 10px;
    grid-template-rows: 70px 110px 80px;
  }
  .text-alojamiento {
    font-size: 11px;
  }
  .casa {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
