.container-footer_categorias {
  width: 100%;
  background: #f3f3e5;

  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 900px);
  grid-template-rows: 150px 200px 100px;
}

.subtitle-footer {
  width: 500px;
  align-self: flex-end;
  justify-self: center;
}

.text-legal {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  gap: 15px;
  a {
    text-decoration: none;
    color: #000;
  }
}

.container-social-media {
  display: flex;
  gap: 20px;
  justify-self: center;
  align-self: center;
}

.socialmedia {
  font-size: 70px;
  color: #000;
}

.copyright {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  align-self: center;
}

.logo-footer {
  justify-self: center;
  align-self: flex-start;
  grid-row: 1/4;
  grid-column: 1/2;
}

.footer-separator {
  width: 2px;
  height: 20px;
  background: #000;
}
