.header-container {
  width: 100%;
}

.main-container {
  position: relative;
  top: 400px;
}

.Wsp-btn {
  position: sticky;
  padding: 70px;
  bottom: 0;
  float: right;
}

.footer-container {
  padding: 420px 0 0 0;
}

body {
  background: #fff;
}

@media screen and (min-width: 1100px) {
  /* Ocultar el navbar móvil */
  .navbar-mobile {
    display: none;
  }
}

/* Estilos específicos para tamaños de pantalla menores o iguales a 1000px */
@media screen and (max-width: 1100px) {
  /* Ocultar el navbar de escritorio */
  .navbar-desktop {
    display: none;
  }

  .Wsp-btn {
    padding: 40px 5px;
  }
}
